.section-learn {
  #block-quicktabs-phd-lti {
  }
}

.ui-tabs {
  border-radius: 0px;
  .ui-tabs-panel {
  border: 1px solid $grey;
  }
  .ui-tabs-nav {
  margin: 0px;
  padding: 0px;
    li {
    margin-right: 0px;
    @media (max-width: 840px) {
    width: 100%;
    }
    @media (min-width: 841px) {
    width: auto;
    }
    }
  }
}

.ui-widget-header {
  background: none;
  border-radius: 0px;
  border: none;
  @include secondary-font;

}

.ui-widget-content {
  border:0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-radius: 0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none;
  background-color: $palegrey;
  border-bottom: 1px solid $palegrey;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  border-bottom: 1px solid $white;
  background-color: $white;
  font-weight: bold;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  
}