
.section-collaborate {
	.region-blockgroup-collaborate-benefits, .region-blockgroup-collaborate-how-to-work-wit {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	h2.block__title {
		font-weight: bold;
		text-align: center;
		}
	#block-block-17, #block-block-18, #block-block-19, #block-block-20, #block-block-21, #block-block-22, #block-block-23, #block-block-26 {
		display: inline-block;
		margin: 10px;
		text-align: center;
		vertical-align:top;
		max-width: 250px;
		img {
		max-width: 250px;
		border-radius: 250px;
		}
		.big-number {
		color: $red;
		font-size: 3em;
		font-weight: bold;
		}
	}
	}
}

