/*Styles for the Utility and Main Menus in the Header */

.navigation {
	padding: 10px 0;
	margin: 0px auto;
	background-color: $highlight;
	min-height: 100px;
}

.region-navigation {
	max-width: 960px;
	margin: 0 auto;
}

/* Move the Nav when hamburger menu fires */

@media (max-width:768px) {
	.region-navigation {
	margin-top: 2.5em;
	}
}

@media (min-width:769px) {
	.region-navigation {
	margin-top: 0em;
	}
}

/*top utility menu */

#block-menu-menu-utility-menu {
	background-color: $black;
	color: $white;
	height: 30px;
	ul {
	margin: 0px;
	float:right;
	padding-right: 1em;
		li {
		@include horizontal-menu;
		display: inline;
		margin: 0px 10px;
		padding: 0px 10px;
		height: 30px;
		vertical-align: middle;
		white-space: nowrap;
		a {
		text-transform: uppercase;
		color: $medgrey;
			}
		}
	}
}


/*Logo Block*/
#block-block-6 {
float: left;
	margin-bottom: .5em;
	img {
	height: auto;
	max-height: 100px;
	margin-left: 1em;

	}
}


@media (max-width: 604px) {
	#block-block-6 {
	float: none;
	margin: 0 auto;
	}
	#block-superfish-1 {
	display: none;
	}
	.block-search {
	text-align:center;
	float: none;
	clear: none;
	}
}

@media (min-width: 605px) {
	#block-block-6 {
	display: inline-block;
	margin: 0 auto;
	}
}

/*main menu */

#block-superfish-1 {
	white-space: nowrap;
	margin: 0 auto;
	width: 450px;
	padding-top: 25px;
	position:relative;
	text-align:center;
		li {
		@include horizontal-menu;
			font-size: 1.5em;
			font-weight: bold;
		display: table-cell;
		margin-right: 20px;
		margin-left: 20px;
		text-align: center;
		&.last {
			margin-right: 0px;
		}
			ul {
			background-color: $white;
			border: 1px dotted $palegrey;
			white-space: wrap;
			margin-top: -12px;
			width: 100% !important;
				li {
				border-bottom: 1px solid $lightgrey;
				font-weight: normal;
				white-space: normal;
				margin: 0px;
				border-collapse: collapse;
					a {
					height: auto;
					padding: 10px;
						&:hover {
						background-color: $medgrey;
						color: $lightgrey;
						}
					}
				}
			}
		}
	}


/*Search Block*/	

.block-search{
	@include secondary-font;
	float: right;
	.form-item {
	margin: 0;
	}
	.form-submit, .form-text {
	background: none;
	border: 2px solid $lightgrey;
	height: 30px;
	width: 180px;
	margin: 0;
	}
	.form-submit {
	display: none;
	}
	.form-text {
		width: 180px;

	}
}


/* Add/Remove main menu items on sticky header and hamburger menu */
#learn, #explore, #collaborate, 
#rm-no-id #collaborate, #rm-no-id #explore, #rm-no-id #learn {
	display:none;
}

.is-sticky #learn, .is-sticky #explore, .is-sticky #collaborate {
	display:inline !important;
}

.rm-removed #learn, .rm-removed #explore, .rm-removed #collaborate {
	display: block;
}

.header .block-menu, .sticky-wrapper .block-menu {
	padding-left: 0px;
	width: 100%;
	display:table;
	height: 40px;
	z-index: 500;
}


.responsive-menus {
	width: 100% !important;
}

/*Responsive Menus dropdown styles */

.is-sticky .navigation .region-navigation #block-superfish-1 {
	margin: 0px 0px 0px 10px;
}

ul li ul li .nolink {
	padding: 10px;
	display: block;
}
select#superfish-1-select {
	-webkit-appearance: none;
}
select#superfish-1-select::after {
	content: '\f078';
	font-family: FontAwesome;
}


#block-superfish-1 li ul li.last {
	border-bottom:none !important;
}

.sf-accordion-toggle {
	display:none;
}

div.responsive-menus.responsive-menus-0-0.absolute.responsified {
	position: absolute;
	top: 0px;
	span.toggler {
		border-radius: 0px;
		box-shadow: none;
		background-color: $red;
		text-align: left;
		font-size: 1em;
		padding: 5px;
	}
}

div.responsive-menus.responsive-menus-0-0.absolute.responsified {
	.responsive-menus-simple {
	box-shadow: none;
	border-radius: 0px;
	ul {
		li {
		background-color: $medgrey;
		color: $grey;
		text-transform: uppercase;
		a {
			color: $white;
			&:hover {
			color:$palegrey;
			}
		}
		}
	}
}
}

div.responsive-menus.responsive-menus-0-0.absolute.responsified {
	.responsive-menus-simple {
	li.menuparent {
	padding: 10px 0 0 0px;
	span {
	margin-left: 10px;
	}
	}
}
}
