#block-views-content-features-block {
max-width: 960px;
margin: 0 auto;
text-align: center;
  .content_feature_container {
  max-width: 70%;
  display: inline-block;
  text-align: left;
  }
  .views-field-field-default-news-image {
  display: inline-block;
  max-width: 30%;
  padding-right: 20px;
    img {
    border-radius: 220px;
    }
  }
  .views-field-field-category, .views-field-subtitle {
  @include secondary-font;
  color: $grey;
  font-weight: 500;
  }
  .views-field-subtitle {
  margin-bottom: 1em;
  }
  .views-field-title {
  margin-bottom: -1em;
  a{
  @include secondary-font;
  color: $black;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 2em;
  }
  a:after {
  content:"" !important;
  }
  }
  .pop-stripe {
  margin-bottom: 0px;
  }
  .views-field-body p{
  margin: 0;
  } 
}