/*Styles for individual projects */

.project_info {
position:relative;
.project-image {
  @media (max-width:829px) {
  text-align: center;
  width: 100%;
  }
  @media (min-width:830px) {
  text-align:left;
  width: auto;
  }
  img {
  padding-right:1em;
  padding-bottom: 1em;
  @media (max-width:829px) {
  float: none;
  }
  @media (min-width:830px) {
  float:left;
  position:relative;
  }
  }
  }
  h1 {
  font-size: 2.2em;
  margin-top: .3em;
  }
  .pop-stripe {
  overflow:hidden;
  }
  .author {
  width: 100%;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  padding-top: 1em;
  padding-bottom: 1em;
  color: $grey;
  overflow: hidden;
  }
}


/* Red Read More buttons */

  .project-button { 
  float: left;
  margin: 2em 0;
  a{
  background-color: $red;
  color: $white;
  max-width: 125px;
  padding: 10px;
  margin: 1em 0;
  text-align: center;
  }
   a:after {
  content:"" !important;
  }
}
/*Project Term Menu */

.view-research-term-menu {
text-align:center;
line-height: 2em;
  .views-row {
    display:inline-block;
    a {
      color: $grey;
      &:hover {
      color: $darkgrey;
      }
      &:after {
      content: "";
      padding-right: 10px;
      }
    }
  }
  .views-row-last {
  float: none;
  clear:left;
  }
}

/* Comp Bio */
.tid-2713 .fa {
    color: $yellow !important;
    margin-right: 10px;
    }

/* Info Extraction */
.tid-2714 .fa {
    color: $medgrey !important;
    margin-right: 10px;
    }

/* Info Retrieval */    
.tid-2715 .fa {
    color: $bluegreen !important;
    margin-right: 10px;
    }

/* Knowledge Representation */
.tid-2720 .fa {
    color: $darkblue !important;
    margin-right: 10px;
    }

/* LTI for Education */
.tid-2721 .fa {
    color: $orange !important;
    margin-right: 10px;
    }

/* Machine Translation */    
.tid-2716 .fa {
    color: $purple !important;
    margin-right: 10px;
    }

/* Multimodal Computing */    
.tid-2722 .fa {
    color: $darkred !important;
    margin-right: 10px;
    }

/* Natural Language */        
.tid-2717 .fa {
    color: $pink !important;
    margin-right: 10px;
    }
/* Speech Processing */     
.tid-2718 .fa {
    color: $green !important;
    margin-right: 10px;
    }

/* Speech Processing */         
.tid-2719 .fa {
    color: $brown !important;
    margin-right: 10px;
    }



/*Styles for the project landing page */
.page-work {
table, thead, tbody, th, td, tr {
@media (max-width:839px) {
  display: block;
  }
  }
  td {
  border-bottom: 0px;
  @media (min-width:840px) {
  width: 33%;
  }
  @media (max-width:839px) {
  width: 100%;
  }
    .project-nav{
    color: $white;
    height: 255px;
    @include secondary-font;
      .project-nav-container {
      height: 255px;
        .project-nav-content {
        z-index: 100;
        padding: 1em;
        a {
        color: $white;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 1.3em;
        &:hover {
        color: $palegrey;
        }
      }
    }
    }
    .tid-2713 {
    position:relative; 
    width:100%; 
    @include alpha-attribute('background-color', rgba($yellow, .8), white);
    }
    .tid-2714 {
    position:relative; 
    width:100%; 
    @include alpha-attribute('background-color', rgba($medgrey, .8), white);
    }
    .tid-2715 {
    position:relative; 
    width:100%; 
    @include alpha-attribute('background-color', rgba($bluegreen, .8), white);
    }
    .tid-2716 {
    position:relative; 
    width:100%; 
    @include alpha-attribute('background-color', rgba($purple, .8), white);
    }
    .tid-2717 {
    position:relative; 
    width:100%; 
    @include alpha-attribute('background-color', rgba($pink, .8), white);
    }
    .tid-2718 {
    position:relative; 
    width:100%; 
    @include alpha-attribute('background-color', rgba($green, .8), white);
    }
    .tid-2719 {
    position:relative; 
    width:100%; 
    @include alpha-attribute('background-color', rgba($brown, .8), white);
    }
    .tid-2720 {
    position:relative; 
    width:100%; 
    @include alpha-attribute('background-color', rgba($darkblue, .8), white);
    }
    .tid-2721 {
    position:relative; 
    width:100%; 
    @include alpha-attribute('background-color', rgba($orange, .8), white);
    }
    .tid-2722 {
    position:relative; 
    width:100%; 
    @include alpha-attribute('background-color', rgba($darkred, .8), white);
    }

  }
  }
}
