#cboxLoadedContent .main-feature{
    height:0 !important;
}

.page__subhead {
    font-size: 2em;
    color: $alt-font;
    font-weight: 700;
}

.page-taxonomy {
    article {
        padding: 1em 0.5em;
        background-color: $palegrey;
        margin-bottom: 1em;

        .node-title {
            margin-top: 0;
        }
    }
    .feed-icon {
            display: none;
        }

}

.section-donate-attack-theatre,
.section-sign-our-newsletter {
     .views-field-views-conditional-2 {
        display: none;
    }

}

.info h2 {
    display: none !important;
}

.houseAnnouncement__wrapper {
    background-color: $palegrey;
    padding: 1em 0.5em;
}

.home--featured {
    display: flex;
    background-color: $palegrey;
    padding: 1em 0.5em;
}

.con__button {
    width: 7em !important;
    float: right;
    display: inline-block;
    margin: -0.93em 1em;
    &:last-of-type {
        margin-right: 0;
    }
}

.views-field-field-flickr-albums {
    clear: both;
}
.flickr-citation {
    display: none;
}

.press__listing {
    ul li:before {
        content: '\2713';
            margin: 0 1em
    }
}
.press__listing,
.views-field-field-related-content {
    ul {
        list-style: none;
        li {
            line-height: 2.5em;

    }
    }
}

.views-field-field-related-content {
    .item-list {
    margin-left: 0;
    }
    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    li {
            display: inline-block;
            width: 30%;
        }
        article {
            background: $palegrey;
            padding: 0.5em;
            color: #000;
            line-height: 1.7em;
            height: 320px;

            h2 {
                margin: 0;
                a {
                color: #000;
                &:hover {
                    color: $highlight;
                    }
                }
            }
            + a {
                color: $highlight;
                margin-top: -1em;
                &:hover {
                    color: invert($highlight);
                }
            }

        }
    }
.views-field-field-youtube-videos,
.views-field-field-flickr-albums {
    .field-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .file-video {
        width: 30%;

    }
}

.flickr-citation {
    display: none;
}

