.page__subhead {
    font-size: 2em;
    color: $alt-font;
    font-weight: 700;
}

.page-taxonomy {
    article {
        padding: 1em 0.5em;
        background-color: $palegrey;
        margin-bottom: 1em;

        .node-title {
            margin-top: 0;
        }
    }
    .feed-icon {
            display: none;
        }

}

.section-donate-attack-theatre,
.section-sign-our-newsletter {
     .views-field-views-conditional-2 {
        display: none;
    }

}

.info h2 {
    display: none !important;
}

.houseAnnouncement__wrapper {
    background-color: $palegrey;
    padding: 1em 0.5em;
}

.home__featured {
    display: flex;
}